.bordasPortlet {
    border: 1px solid #35355a;
    border-radius: 10px;
}

.box {
    min-height: 200px;
    padding: 30px;
}
.bordaCardImg{
    border: 0.5px solid #35355a;
    border-color: #35355a;
}

.card {
    background-color: #151520;
    border-color: #4e2c7e;
    transition: transform 0.5s ease-in-out;
}

.titleSessions {
    background: linear-gradient(90deg, #6A00FF, #9554f7, #6A00FF, #6A00FF);
    background-size: 300% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientScroll 8s linear infinite;
}

.card:hover {
    transform: scale(1.1);
}

.estiloCard {
    height: 12%;
    width: 12%;
}

.imgBorder {
    border-radius: 5px;
}

.btnAdicionar {
    margin-left: auto;
    background-color: #35355a;
}

.btnAdicionar:hover{
    background-color: #640ddd;
}

.btnEditar{
    background-color: #35355a;
}

.btnExcluir{
    background-color: #35355a;
}

.icon{
    color: #939096;
}

#insertCards {
    display: flex;
    flex-wrap: wrap;
    /* Permite que os cards quebrem para a linha de baixo quando necessário */
    gap: 25px;
    /* Espaçamento entre os cards */
    justify-content: flex-start;
    /* Alinha os cards ao início do contêiner */
    max-width: 100%;
    /* Ocupa toda a largura possível do contêiner pai */
}