*{
    padding: 0px;
    margin: 0px;
}

body{
    overflow: hidden;
    background-color: #2C2C2C;
    height: 100vh
    /*
    Outras opções:
    #3A3F44
    #3A3F44
    */
}

.almendra-sc-regular {
    font-family: "Almendra SC", serif;
    font-weight: 400;
    font-style: normal;
}

.fontApplied {
    font-family: "Almendra SC", serif;
}
.sizeTextNormal{
    font-size: 50px;
}

.bgColor{
    background-color: #3A3F44;
}
.anchorType {
    cursor: pointer;
    font-size: 20px;
}

.anchorType:hover {
    text-decoration: underline
}

.divLogin{
    padding: 80px 140px;
    margin-bottom: 120px;
}

.divBody{
    height: 100vh;
}

.imgIcon{
    height:45px
}

.divIcon{
    width: 80px;
    margin-left: 50px;
}
.loginText{
    margin-bottom: 50px;
}
.test{
    height: 600px;
    width: 600px;
}

