* {
    padding: 0;
    margin: 0;
    overflow: hidden
}

body {
    background-color: #151520;
    height: 100vh
        /*
    Outras opções:
    #3A3F44
    #3A3F44
    */
}

.bgColor {
    background-color: #1E1E2C;
}
.label{
    color: #812ff3;
}

.inputControl{
    background-color: #151520;
    color: #dedee7;
    border-color: #151520;
}
.inputControl:focus{
    background-color: #151520;
    color: #dedee7;
    border-color: #5c13c2;
}

#btnConfirmar{
    background-color: #7320e7;
    color: #dedee7;
}
#btnConfirmar:hover{
    background-color: #3c0686;
    color: #dcdce0;
}

.anchorType:hover {
    text-decoration: underline
}

.divLogin {
    padding: 40px 140px;
}

.divBody {
    height: 100vh;
}

.loginText {
    margin-bottom: 30px;
}

.divLoginHeight {
    height: 550px;
    width: 600px;
}
